/* css 선택자 */
/* 전체 선택자 */

/* 전체선택자, universe선택자 */
* {
  background-color: #fcfcfc;
}

/* 타입 선택자, 태그선택자, 요소 선택자 */
body {
  background-color: yellow;
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

/* 클래스 선택자 */
.lion {
  background-color: salmon;
}

/* 아이디 선택자 */
#bootcamp {
  background: green;
}

/* 속성 선택자 - title속성 모두 찾아서 적용 */
[title] {
  font-size: 14px;
}
/* 속성 선택자 - 캐롯기호:내가 선택한 텍스트로 시작한 경우 적용 */
[title^='멋사'] {
  font-size: 24px;
}

/* 자손 결합자와 자식 결합자 */
.frontend .lion {
  border: 5px solid blue;
}

.like > .lion {
  font-size: 36px;
}

h1,
h2 {
  font-weight: 400;
}

/* 형제 결합자 */
h2 + p {
  font-weight: 900;
} /* 인접형제선택자 */

h2 ~ p {
  color: blue;
} /* 틸드 기호 사용 */

/* 가상 요소 선택자 */
p::first-letter {
  font-size: 60px;
}
/* p::first-line {
  font-size: 60px;
} */

/* 텍스트 드래그 - 배경과 컬러 색 */
::selection {
  background-color: #000000;
  color: #ffffff;
}

/* ::before, ::after는 가짜 요소를 만들 수 있음. 그래서 텍스트를 드래그 했을때 블록으로 잡히지 않음 */
/* 스크린 리더기 wari-aria에서 읽어줌. 때때로 읽어주지 않을때도 있지만. 읽어주는게 원칙 */
/* 가상선택자, 가상요소는 콜론 2개, 가상 클래스는 콜론 1개 */
h1::before {
  content: '웹표준 - '; /* 가상 요소 선택자는! content값이 필수로 있어야함 */
}

h1::after {
  content: '(멋사)'; /* 가상 요소 선택자는! content값이 필수로 있어야함 */
}

/* 가상 클래스 */
/* :root > html태그를 가리킴 */
a {
  font-size: 48px;
}

/* a태그에서 link,visited를 사용하려면 focus,hover보다 먼저 사용해줘야한다. */
/* a:link {
  color: blue;
}
a:visited {
  color: purple;
} */

a:hover {
  background-color: darkblue;
  color: #ffffff;
}
a:focus {
  background-color: red;
  color: #ffffff;
}
