/* 박스 모델 */

/* display 속성 */
.frontend {
  font-size: 0;
}

.frontend span {
  background-color: #ffc;
  display: block;
}

.frontend p {
  background-color: #fcf;
  display: inline;
}

.frontend div,
.frontend p {
  font-size: 16px;
  line-height: 1.5;
}

/* border 속성 */
.frontend {
  /* border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px; */
  /* border-width: 1px; */

  /* border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px; */
  /* border-width: 1px; */

  /* border-top-color: red;
  border-right-color: red;
  border-bottom-color: red;
  border-left-color: red; */
  /* border-color: red; */

  border: 1px solid red;
}

/* padding 속성 - 안쪽 여백 */
.frontend {
  /* padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px; */
  padding: 10px 20px 30px 10px;
}

/* margin 속성 - 바깥쪽 여백(border밖) */
/* margin값은 겹쳐진다 */
.frontend {
  /* margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px; */
  margin: 10px;
}

/* width, height 속성 */
.frontend span:first-child {
  width: 100px;
  aspect-ratio: 1/1;
}

.frontend span:last-child {
  width: 5em;
  height: 5em;
}

/* overflow 속성 */
.school {
  background: #cff;
  width: 200px;
  height: 150px;
  overflow: auto;
}

/* 
  1. aspect-ratio: 1/1;
    - aspect-ratio: 가로/세로; > 값이 자동으로 동일하게 맞쳐짐

  2. overflow: hidden
    - 

  3. oeverflow: scroll
    - 자동 스크롤 바 생김

  4. 
  3. oeverflow: scroll
    - 자동 스크롤 바 생김
*/
