/* 테이블 스타일링 */
.members-wrapper {
  background: var(--yellow);
  block-size: 500px;
  overflow: auto;
}

.members {
  inline-size: 100%;
  border-inline: 1px solid gray;
  /* empty-cells: hide; */

  .number {
    inline-size: 15%;
  }
  .name {
    inline-size: 25%;
  }
  .email {
    inline-size: 30%;
  }
  .phone {
    inline-size: 30%;
  }

  thead tr,
  tfoot tr {
    background: var(--black);
    color: var(--white);
  }

  thead tr {
    position: sticky;
    top: 0;
  }

  tr:nth-child(even) {
    background: var(--gray);
  }

  th,
  td {
    padding: 0.5em 1em;
    text-align: center;
    white-space: nowrap; /* 줄바꿈 금지 */
  }
}

/* me - 작업 */
/* thead {
    background: var(--black);
    color: var(--white);

    tr th {
      padding: 10px 0;
    }
  }

  tbody {
    tr:nth-child(even) {
      background: var(--gray);
    }
    tr td {
      padding: 10px 0;
      text-align: center;
    }
  }
  tfoot {
    background: var(--black);
    color: var(--white);
    tr td {
      padding: 10px 0;
    }
    text-align: center;
  } */
