/* 아바타 컴포넌트 */
.avatar {
  --avatar-size: 64px;
  --state-size: 20px;
  --disable-color: #dbdbdb;
  --active-color: #4bfe88;
  --border-color: #fff;

  width: var(--avatar-size);
  height: var(--avatar-size);
  position: relative;
  border: 0;
  padding: 0;
  background: transparent;


  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  .avatar-state {
    width: calc(var(--state-size) / var(--avatar-size) * 100%);
    width: 16px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: var(--disable-color);
    position: absolute;
    right: 0;
    bottom: 0;
    border: 2px solid var(--border-color);
    /* box-shadow: 0px 0px 0px 2px var(--border-color); */

    &.is-online {
      background: var(--active-color);
    }
  }
}

/* 아바타 레이아웃 */
.avatar-list {
  width: 596px;
  height: 395px;
  padding: 110px 130px;
  box-shadow: 0 0 4px 1px currentColor;

  .avatar-item {
    float: left;
    margin: 10px;

    &:nth-child(5) {
      clear: left;
    }
  }
}


/* 
  - .avatar-state는 span태그로 인라인태그로 width,height값을 무시함. 그렇기에 block요소로 만들어줘야함.
  - position: absolute; 값을 주면, 인라인요소는 레이아웃상에서 block으로 동작.

  - box-sizing
      >> box-sizing: content-box >> content-box는 기본값 >> (w+p+b+m)
      >> box-sizing: border-box; >> (w(p+b)+m)
  
  - box-shadow
      >> 박스크기에 영향을 주지 않는다
  
  - currentColor
      >> 현재 글자 색깔!


  - ***width의 기본값은 auto!** 부모의 값을 받는것이다!

  - clear
      >> float을 해제하는 기능! 독립 시킬 수 있음

  - nth-child 참고 url
      >> https://nthmaster.ru/

  - nth-child() 선택자
      >> odd > 짝수선택 / even > 홀수선택
/*
