/* 아바타 컴포넌트 */
.avatar {
  --avatar-size: 64px;
  --state-size: 20px;
  --disable-color: #dbdbdb;
  --active-color: #4bfe88;
  --border-color: #fff;

  width: var(--avatar-size);
  height: var(--avatar-size);
  position: relative;
  border: 0;
  padding: 0;
  background: transparent;


  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  /* .is-online {
    background: var(--active-color) !important;
  } */

  .avatar-state {
    width: calc(var(--state-size) / var(--avatar-size) * 100%);
    width: 16px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: var(--disable-color);
    position: absolute;
    right: 0;
    bottom: 0;
    border: 2px solid var(--border-color);
    /* box-shadow: 0px 0px 0px 2px var(--border-color); */

    &.is-online {
      background: var(--active-color);
    }
  }
}


/* 
  - .avatar-state는 span태그로 인라인태그로 width,height값을 무시함. 그렇기에 block요소로 만들어줘야함.
  - position: absolute; 값을 주면, 인라인요소는 레이아웃상에서 block으로 동작.

  - box-sizing
      >> box-sizing: content-box >> content-box는 기본값 >> (w+p+b+m)
      >> box-sizing: border-box; >> (w(p+b)+m)
/*
